.product-image-small{
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.custom-img{
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;

}
#preview-img{
	overflow: hidden;
	width: 400px;
	height: 400px;
}
.left-straight{
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: calc(var(--bs-border-width) * -1);
    position: relative !important;
    min-width: 0 !important;
    display: block !important;
    font-size: 0.9375rem;
    font-weight: 400 !important;
    line-height: 1.3 !important;
    color: #b6bee3 !important;
    background-clip: padding-box !important;
    padding: 0.422rem  !important;
}
.position-relative{
	flex: 1;
}

.modalh1{
	font-size: min(4.5vw, 20px);
}
.modalh2{
	font-size: min(4vw, 17px);
}

.myselect3{
	background-color: var(--bs-modal-bg);
	padding: 0.422rem 0.875rem;
	border-radius: var(--bs-border-radius);
	color: #b6bee3;
	border: var(--bs-border-width) solid #434968;
}
.myselect3 .dropdown-toggle{
	margin-right: 0.875rem;
}